---
global:
  spec:
    namespace: argocd
    source:
      repoURL: https://github.com/muhlba91/fh-burgenland-bswe-3b-k8s-demos.git
      targetRevision: HEAD
    values:
      repoURL: https://github.com/muhlba91/fh-burgenland-bswe-3b-k8s-demos.git
      targetRevision: HEAD
    syncWave: 0
    helm:
      enabled: false
      valueFiles:
        - values.yaml
    enableAutomated: false
    syncOptions: []

applications:
  vcluster:
    project: vclusters
    path: argocd/vclusters/chart
    valuesPath: argocd/vclusters/clusters/vcluster
    disabled: false
    namespace: vcluster
    releaseName: vcluster
    helm: true
